#list-container{
    width: 753px;
    height:973px;
}

h1{
    text-align: center;
    font-size: 50px;

}


ul {
    text-align: center;
    font-size: 26px;
    list-style: inside;
    padding: 45px;
    height: 300px ;
    width: 200px;
    background-color: rgb(206, 166, 197);
    border: 1.3px solid rgb(56, 56, 51);

  }
