body {
    background: black;
    margin: 0;
}

#start-page {
    width: 100%;
    height: 90px;
    background:black;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}   

nav {
    width: 100%;
    height: 70px;
    background:black;
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}   



#logo {
    color: crimson;
    height: 100%;
    width: 150px;
    margin: 12px;
    font-size: 50px;
}

#logo-home-page {
    color: crimson;
    height: 100%;
    width: 150px;
    margin: 5px;
    font-size: 40px;
}

#search-bar {
    width: 50%;
    height: 78%;
    background: grey;
}

#manage-accounts {
    width: 120px;
    height: 80%;
    background: grey;
}

aside {
    flex-basis: 25%;
    margin-top: 159px;
    width: 98%;
}

aside ul {
    display: flex;
    justify-content: space-evenly;
   
}

aside li {
    list-style: none;
    padding: 4px;
    flex-basis: 15%;
}

aside li .profile-pic {
    align-items: flex-end;
    background: rgb(255, 255, 255);
    width: 100%;
    /* this is a trick to get containers that maintain aspect ratio */
    padding-bottom: 100%; 
}

.names {
    background: white;
    opacity: .2;
    height: 50px;
    margin-top: 20px;
}

}

.names {
    background: white;
    opacity: .2;
    height: 10px;
    margin-top: 10px;
}

/* aside .name-tags{
    display: flex;
    justify-content: space-evenly;
    height: 10px;
    opacity: .2;
} */

/* aside li div .names{
    align-items: flex-end;
    height: 100px;
    width: 100px;
}
 */

#video-grid {
    flex-basis: 75%;
    padding: 10px;
}

#ad {
    background: #1c5583;
    width: 100%;
    height: 486px;
}

.video-category {
    margin-top: 10px;
    background: #292727;
    padding: 30px;
}

.video-category ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.video-category header {
    width: 10%;
    height: 50px;
    background: rgb(139, 131, 131);
    margin-bottom: 25px;
}

.video-category ul {
    display: grid;
    grid-template-columns: repeat(6,1fr);
    column-gap: 15px;
    row-gap: 15px;
}

.video-category li {
    height: 150px;
    background: rgb(11, 31, 78);
}


/* mobile */
@media (max-width: 720px) {
    
    #logo-home-page {
        height: 50%;
        width: 120px;
        margin: 2px;
        font-size: 17px;
    }
    #search-bar {
        width: 40%;
        height: 30%;
    }

    #manage-accounts {
        width: 10%;
        height: 30%;
    }

    aside {
        flex-basis: 25%;
        margin-top: 159px;
        width: 98%;
    }
    
    aside li {
        list-style: none;
        padding: 4px;
        flex-basis: 15%;
    }

    aside li .profile-pic {
        align-items: flex-end;
        background: rgb(255, 255, 255);
        width: 115%;
        height: 50%;
        padding-bottom: 50%; 
    }
    .names {
        background: white;
        opacity: .2;
        height: 50px;
        width: 115%;
        margin-top: 10px;
    }
    /* aside li div {
        height: 100px;
    } */
    #ad {
        width: 100%;
        height: 286px;
    }
    #video-grid {
        flex-basis: 50%;
        padding: 10px;
    }
    .video-category header {
        width: 5%;
        height: 10px;
        margin-bottom: 15px;
    }
    .video-category {
        margin-top: 5px;
        padding: 5px;
    }
    .video-category li {
        height: 50px;
    }

    .video-category ul {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 5px;
        row-gap: 5px;
    }

}

/* mobile */
@media (max-width: 375px) {
    #logo-home-page {
        height: 50%;
        width: 120px;
        margin: 2px;
        font-size: 17px;
    }
    #search-bar {
       display: none;
    }

    #manage-accounts {
        width: 10%;
        height: 30%;
    }

    aside {
        flex-basis: 25%;
        margin-top: 159px;
        width: 98%;
    }
    
    aside li {
        list-style: none;
        padding: 4px;
        flex-basis: 15%;
    }

    aside li .profile-pic {
        align-items: flex-end;
        background: rgb(255, 255, 255);
        width: 140%;
        height: 55%;
        padding-bottom: 50%; 
    }
    .names {
        background: white;
        opacity: .2;
        height: 40px;
        width: 140%;
        margin-top: 10px;
    }
    #ad {
        width: 100%;
        height: 186px;
    }
    #video-grid {
        flex-basis: 50%;
        padding: 10px;
    }
    .video-category header {
        width: 5%;
        height: 10px;
        margin-bottom: 15px;
    }
    .video-category {
        margin-top: 5px;
        padding: 5px;
    }
    .video-category li {
        height: 50px;
    }

    .video-category ul {
        grid-template-columns: repeat(6, 1fr);
        column-gap: 5px;
        row-gap: 5px;
    }

}