#verse-1 p {
    text-align: center;
    font-size: 67px;
    height: 50vh;
    margin: 250px;

}

#verse-1 p:nth-child(1) {
    transform: skew(-30deg, -25deg);

}

#verse-1 p:nth-child(2) {
    transform: skew(30deg, 25deg);

}

#verse-1 p:nth-child(3) {
    transform: skew(30deg, 25deg);
}

#verse-1 p:nth-child(4) {
    transform: skew(30deg, 40deg);
}

#verse-1 p:nth-child(5) {
    transform: skew(-30deg, 25deg);
}

#verse-1 p:nth-child(6) {
    transform: skew(-25deg, 30deg);
}

#verse-2 p {
    text-align: center;
    font-size: 67px;
    height: 50vh;
    margin: 250px;
  
 
}

p:hover span {
    color:crimson;
    margin: .1px auto 0;
    font-size: 120px;
    -webkit-transition-timing-function: ease-in-out;
    -moz-transition-timing-function: ease-in-out;
    -o-transition-timing-function: ease-in-out;
    transition-timing-function: ease-in-out;
    cursor: pointer;
}




