#toy-body {
    position: absolute;
    width: 673px;
    height: 678px;  
    left: 350px;
    background: #BD1414;
    border-radius: 60px;
}
.grid-container {
    margin-top: 30px;
    margin-right: 70px;
    margin-left: 20px;
    margin-bottom: 95px;
    width: 635px;
    height: 475px;
    display: inline-grid;
    grid-template-columns: repeat(20, 1fr);
    grid-template-rows: repeat(20, 1fr);
}
/* .screen span {
    position: absolute;
    width: 565px;
    height: 437px;
    left: 56px;
    top: 40px;
    background: #ECECEC;
    border-radius: 43px; 
} */

.square {
    background: grey;
}

.black {
    background: black;
}

.yellow {
    background: yellow;
}

.square[data-hovered="false"] {
    background: grey;
}

.right-knob span {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 458px;
    top: 512px;
    background: #DFDADA;
    border-radius: 75px;
}

.left-knob span {
    position: absolute;
    width: 133px;
    height: 133px;
    left: 78px;
    top: 515px;
    background: #DFDADA;
    border-radius: 75px;
}

.inside-right-knob span {
    position: absolute;
    width: 98px;
    height: 98px;
    left: 476px;
    top: 530px;
    background: #FFFFFF;
    border-radius: 75px;
}

.inside-left-knob span {
    position: absolute;
    width: 96px;
    height: 98px;
    left: 97px;
    top: 533px;
    background: #FFFFFF;
    border-radius: 75px;
}

