body{
    background-color:rgb(159, 207, 211);
}
.content {
    position: fixed;
    bottom: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.322);
    color: #f1f1f1;
    width: 100%;
  }

header{
    font-size: 36px;
    margin: 6px;
}

.content p {
    font-size: 19px;
    margin: 12px;
}

a { 
    text-decoration: none;
}

nav {
    width: 100%;
    height: 70px;
    background:rgb(159, 207, 211);
    padding: 10px 20px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
}   

#logo-home-page {
    color: rgba(71, 90, 114, 0.904);
    height: 100%;
    width: 150px;
    margin: -8px;
    font-size: 31px;
}

#about-me {
    width: 129px;
    height: 80%;
    font-size: 31px;
    margin: 6px;
}

#bio {
    position: absolute;
    top: 65px;
    left: 800px;
    margin-right: 83px;
}

p {
    font-size: 36px;
}

.background-info-1 {

}

#home-video {
    position: fixed;
    right: -278px;
    bottom: -243px;
    min-width: 100%;
    min-height: 100%;
}

#first-piece {
    position: relative;
    top: 79px;
    left: 9px;
}

#second-piece {
    position: relative;
    top: 93px;
    left: 9px;
}

#third-piece {
    position: relative;
    top: 105px;
    left: 9px;
}

#forth-piece {
    position: relative;
    top: 125px;
    left: 9px;
}

#fifth-piece {
    position: relative;
    top: 146px;
    left: 9px;
}


#first-piece p {
    position: absolute;
    font-size: 25px;
    top: 139px;
    left: 1068px;
    right: 32px;
}

#second-piece p {
    position: absolute;
    font-size: 25px;
    top: 139px;
    left: 1068px;
    right: 32px;
}

#third-piece p {
    position: absolute;
    font-size: 25px;
    top: 139px;
    left: 1068px;
    right: 32px;
}